.DS_Store
legacy/
legacy.tar
resources/
resources.tar
./.git/objects/pack/pack-0fb29e621e3e8768be4a72520cc98beec4c1fcdb.pack
./.git/objects/ab/56d9892aec05d64f73abdea2c5fa6b838190ae
./.git/objects/fd/6ca8cebdb65c89f2d392f3143ba3cdadfdbddd
./resources/data/TRAF11/TRAF11.mp4
./resources/yolo-coco/yolov3.weights
./Tracking/resources/networks/model.ckpt-258931.data-00000-of-00002
./resources.tar
*.pyc
./model/Prediction/litmethods/
./model/Prediction/datasets/
./draw_traj(temp)/
.vscode
*.ui
model/Detection/Mask/build/
model/Detection/Mask/dist/
model/Detection/Mask/mask_rcnn.egg-info/
conda_env_folder
